*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python
venv/
.venv/
__pycache__/
*.pyc
FYP-Backend/venv/


# Uploads / temp
uploads/
*.wav
*.mp3
*.flac
*.ogg

# OS / IDE
.DS_Store
.idea/
.vscode/
